@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/Lato-Semibold.ttf');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/Lato-Black.ttf');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	src: url('./fonts/Lato-Heavy.ttf');
}